.article-list {
  .item__meta {
    padding: 0 map-get($spacers, 3) 0 0;
    font-family: map-get($base, font-family-code);
    font-size: map-get($base, font-size-sm);
    white-space: nowrap;
  }
  &.grid--sm {
    .card__header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    @include overflow(auto);
    thead, tfoot {
      background-color: $text-background-color;
    }
    th, td {
      padding: map-get($spacers, 2);
      border: 1px solid $border-color-l;
    }
    th {
      font-weight: map-get($base, font-weight-bold);
    }
  }
  table.fullwidth {
    display: table;
  }  
}
.article-list__group-header {
  margin-top: map-get($spacers, 3);
}
